/* Search carrousel */

.search-results{
    text-transform: capitalize;
    padding: 60px 0;
}
.heading{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 40px;
    padding: 0 10vw;    
}
.heading span{
    font-weight: 700;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
    grid-row-gap: 40px;
}